<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - Contract App</title>
    </head>
    <body>
        @{
        ViewData["Title"] = "Contract List";
        }

        <h2>Contract Lists</h2>
        <p>Hello from our View Template!</p>
    </body>
</html>
